@model WebAppMobile.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_PageSingle.cshtml";
}
<style>
    .validation-summary-errors {
        display: inline-block;
    }

        .validation-summary-errors ul {
            list-style: none;
        }

            .validation-summary-errors ul li {
                color: darkorange;
            }
</style>
<div class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - Material Design</small>
        </div>
        <div class="card">
            <div class="body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgot_password", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    @Html.ValidationSummary()
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus = true })
                            @*<input type="email" class="form-control" name="email" placeholder="Email" required autofocus>*@
                        </div>
                    </div>
                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESET MY PASSWORD</button>
                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/Account/Login">Sign In!</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
