@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using WebAppMobile.Models;
@{
    ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext()
        .GetUserManager<ApplicationUserManager>().FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
    var userName = "";
    var email = "";
    var avatar = "";
    if (user != null)
    {
        userName = user.UserName;
        email = user.Email;
        avatar = user.Avatar;
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="~/Assets/images/user.png" width="48" height="48" alt="User" />
                @*<img src="@avatar" width="48" height="48" alt="User" />*@
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@userName</div>
                <div class="email">@email</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit();"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="user-info">
        <div class="image">
            <img src="~/Assets/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <a href="/Account/Login" class="pull-right">
                <span type="button" class="btn btn-danger">
                    <i class="material-icons">vpn_key</i> Sign In
                </span>
            </a>
        </div>
    </div>
}
