<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    @Html.Partial("_LoginPartial")
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a href="index.html">
                    <i class="material-icons">home</i>
                    <span>Trang chính</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">equalizer</i>
                    <span>Quản lý báo cáo</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/widgets/cards/basic.html">
                            <span>Tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">
                            <span>Doanh thu</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">layers</i>
                    <span>Quản trị danh mục</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Khuyến mãi</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="pages/widgets/infobox/infobox-1.html">Danh sách khuyến mãi</a>
                            </li>
                            <li>
                                <a href="pages/widgets/infobox/infobox-2.html">Thêm sản phẩm</a>
                            </li>
                            <li>
                                <a href="pages/widgets/infobox/infobox-3.html">Thiết lập</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">
                            <span>Sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">
                            <span>Khách hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">
                            <span>Nhà sản xuất</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/widgets/cards/colored.html">
                            <span>Tỉnh thành (Vận chuyển)</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">store</i>
                    <span>Quản lý kho</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Master data</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Nhập kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Xuất kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Đơn hàng từ website</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">history</i>
                    <span>Lịch sử giao dịch</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/ui/alerts.html">
                            <span>Alerts</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/ui/animations.html">
                            <span>Animations</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/ui/badges.html">
                            <span>Badges</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/ui/breadcrumbs.html">
                            <span>Breadcrumbs</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">settings</i>
                    <span>Hệ thống</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/forms/basic-form-elements.html">
                            <span>Phân quyền</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/advanced-form-elements.html">
                            <span>Chức năng</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/form-examples.html">
                            <span>Cấu hình website</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/form-validation.html">
                            <span>Quản lý fanpage</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>Quản lý website</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/forms/basic-form-elements.html">
                            <span>Trang giới thiệu</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/advanced-form-elements.html">
                            <span>Trang hướng dẫn</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/form-examples.html">
                            <span>Trang tin tức</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/form-validation.html">
                            <span>Trang liên hệ</span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/forms/form-validation.html">
                            <span>Trang hình thức vận chuyển</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>
