@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PageSingle.cshtml";
}

<h1 class="text-danger">#Controller: @Model.ControllerName</h1>
<h2 class="text-danger">#Action: @Model.ActionName</h2>
<p>@Model.Exception</p>
