
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PageSingle.cshtml";
}

<div class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">Error</div>
        <div class="error-message">This page doesn't exist</div>
        <div class="button-place">
            <a href="/Home/" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>
</div>